.home{
    background-image: url("img/15.png");
    height: 100vh;
    padding:0;
    background-size: cover;
}
.navigation{
    background-color: red;
    padding:30px
}
.elementsNav{
    display: flex;
    justify-content: space-between;
}
.elementsNav img{
    height: 50px;
    width: 50px;
}
.logo:hover{
    cursor: pointer;
}
.elementsNav li{
    list-style-type: none;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.menu-visible{
    width:300px;
    background-color: red;
}
.menu>*{
    opacity: 0%;
    transition: .8s;
    transform: translateX(-500%);
}
.menu-visible>*{
    opacity: 100%;
    transform: translateX(0%);
}
.hidden{
    display: none;
}
.lien{
    color: white;
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    margin-bottom: 10vh;
}
.elementsHome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.elementsHome p{
    background-color: black;
    opacity:30%;
    color:white;
    width: 550px;
    font-size: 32px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    font-weight: bold;
}
.firstCaroussel{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}
.homePic1 img{
    max-height: 250px;
    max-width: 250px;
    height: 250px;
    width:250px;
    margin-right: 50px;
}
.homePic2 img{
    max-height: 250px;
    max-width: 400px;
    height: 250px;
    width:400px;
    margin-right: 50px;
}
.homePic3{
    max-height: 250px;
    max-width: 400px;
    height: 250px;
    width:400px;
    margin-right: 50px;
}
.buttonHome button{
    background-color: green;
    border: none;
    color: white;
    font-size: 32px;
    margin-top:150px;
    font-weight: bold;
    padding: 5px;
}
.annonce{
    font-size: 28px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}
.secondCaroussel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.card1 img{
    height:200px;
}
.card-body h6{
    font-weight: bold;
}
.card-body a{
    background-color: green;
    border: none;
}
.card2 img{
    height: 200px;
}
.card3 img{
    height: 200px;
}

.thirdCaroussel{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 100px;
}
.card4 img{
    height: 200px;
}
.card5 img{
    height: 200px;
}
.card6 img{
    height: 200px;
}
.chiffres{
    background-color: #eae5e5;
    padding-top: 100px;
    padding-bottom: 100px;
}

.fourthCaroussel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rectangle{
    height:410px;
    width:370px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    margin-right: 10px;
}
.texte{
    padding-top: 120px;
    padding-bottom: 120px;
}
.texte p{
    display: flex;
    justify-content: center;
}
.tittle{
    font-size: 76px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.lorem{
    display: flex;
    flex-direction: column;
    width: 800px;
    text-align: center;
    margin-top: 100px;
    margin-left: 250px;
}
.lorem h4{
    font-weight: bold;
    margin-bottom: 20px;
}
.lorem p{
    text-align: center;
}
.titreConfiance p{
    font-size: 24px;
    font-weight: bold;
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}
.marque{
    display: flex;
    justify-content: space-evenly;
}
.edf{
    width: 500px;
}
.edfGroupe{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.edf p{
    font-size: 22px;
    font-weight: 800px;
    font-style: italic;
}
.edf img{
    height: 80px;
}
.monsanto{
    width: 500px;
}
.monsantoGroupe{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.monsanto p{
    font-size: 22px;
    font-weight: 800px;
    font-style: italic;
}
.monsanto img{
    height: 80px;
}

.réseauxSociaux{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.réseauxSociaux img{
    height:80px;
    margin-right:80px
}

.footer{
    text-align: center;
    margin-top: 150px;
}